@let task = todo(); @let i = index(); @if(task && i !== undefined){
<li class="list-group-item">
  <input
    type="checkbox"
    class="form-check-input my-1"
    [checked]="task.isCompleted"
    (change)="changeTodoStatus(task)"
  />
  <span
    [ngClass]="{ 'text-decoration-line-through': task.isCompleted }"
    class="todo-item"
  >
    {{ i + 1 }}: {{ task.name | firstLetterUppercase }}
  </span>

  <button
    type="button"
    class="btn btn-danger btn-sm mx-2"
    (click)="toggleModal()"
  >
    Delete
  </button>
</li>

@if(openModal){
<app-modal
  [title]="'Are you sure you want to delete task number: ' + (i + 1) + '?'"
  (close)="toggleModal()"
>
  <div class="d-flex justify-content-end">
    <button class="btn btn-danger btn-sm mx-2" (click)="deleteTodo()">
      Delete
    </button>
    <button class="btn btn-info btn-sm" (click)="toggleModal()">Cancel</button>
  </div>
</app-modal>
} }
